.row{
    margin-left: -8px;
    margin-right: -8px;
}

.column{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#header {
    height: 64px;
    background-color: #1687A7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar {
    display: flex;
}

.header_logo {
    margin: 7px;
    padding-left: 20px;
} 

.header_logo-img {
    width: 180px;
}

.header_search {
    margin: 0 20px;
    flex: 1;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    align-self: center;
}

.header_search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header_search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0 16px;
    color: #333;
    border-radius: 25px;
    background-color: transparent;
}



.header_search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 25px;
    margin-right: 3px;
    cursor: pointer;
}

.header_search-btn-icon {
    color: white;
    font-size: 2rem;
}

.header_search-history {
    position: absolute;
    top: 110%;
    left: 16px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    display: none;
    z-index: 1;
    width: 95%;
    will-change: opacity, transform;
    animation: historyDown ease-in 0.3s;
}

@keyframes historyDown{
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header_search-history-heading {
    margin: 4px 16px;
    font-size: 1.6rem;
    color: #999;
    font-weight: 500
}

.header_search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 4px;
}

.header_search-history-item {
    height: 30px;
    padding: 0 30px;
    display: flex;
}

.header_search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #666;
    line-height: 38px;
    display: block;
    align-self:center;
}

.header_search-history-item:hover {
    background-color: #f1f1f1;
}

.header_search-input:focus ~ .header_search-history {
    display: none;
}

.header_navbar {
    display: flex;
    justify-content: center;
}

.header_navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header_navbar-item {
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}

.header_navbar-item-link {
    display: inline-block;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 27px 0 20px;
}

.header_user {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0 27px 0 20px;
    cursor: pointer;
}

.header_user:hover {
    opacity: 0.7;
}

.header_user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);

}

.header_user-name {
    margin-left: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

/*  */
/* .header_user__ {
    left: -26px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    top: 84%;
    width: 170px;
    background-color: #4bacc7;
    box-shadow: 2px 2px 2px #ccc;
    cursor: default;
    will-change: opacity, transform;
    animation: notifyGrowth ease-in 0.25s;
    display: none;
} */

.header_user-list-item {
    list-style: none;
}

.header_user-list-item-link {
    display: flex;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.header_user:hover .header_user__ {
    display: block;
}

.header_user-list-item:first-child:hover {
    background-color: #A685E2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header_user-list-item:not(:first-child :last-child):hover {
    background-color: #A685E2;
}


.header_user-list-item:last-child:hover {
    background-color: #A685E2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*  */
.header_btn-sign-in {
    color: #fff;
    font-weight: 500;
}

.header_btn-sign-up {   
    color: #fff;
    font-weight: 500;
}

.header_book {
    left: -26px;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    width: 170px;
    background-color: #4bacc7;
    box-shadow: 2px 2px 2px #ccc;
    cursor: default;
    will-change: opacity, transform;
    animation: notifyGrowth ease-in 0.25s;
    display: none;
}


.header_book-list-item {
    list-style: none;
}

.header_book-list-item-link {
    display: flex;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

@keyframes notifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_navbar-item-book:hover .header_book {
    display: block;
}

.header_book-list-item:first-child:hover {
    background-color: #F05454;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header_book-list-item:last-child:hover {
    background-color: #F05454;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.header_music {
    right: -26px;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    width: 170px;
    background-color: #4bacc7;
    box-shadow: 2px 2px 2px #ccc;
    cursor: default;
    will-change: opacity, transform;
    animation: notifyGrowth ease-in 0.25s;
    display: none;
}

.header_music-list-item {
    list-style: none;
}

.header_music-list-item-link {
    display: flex;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.header_navbar-item-music:hover .header_music {
    display: block;
}

.header_music-list-item:first-child:hover {
    background-color: #f05454;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header_music-list-item:last-child:hover {
    background-color: #f05454;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Phần Slides show */

.slider {
    margin: 64px auto 0;
    width: 100%;
    height: 274px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 290px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 355px;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: var(--primary-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 250px;
}

.navigation-auto div {
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
    background:  var(--primary-color);
}

#radio2:checked ~.navigation-auto .auto-btn2 {
    background:  var(--primary-color);
}

#radio3:checked ~.navigation-auto .auto-btn3 {
    background:  var(--primary-color);
}

#radio4:checked ~.navigation-auto .auto-btn4 {
    background:  var(--primary-color);
}

/* Phần nội dung sách nên đọc và nhạc nên nghe */

.container {
    background-color: #dbecf8;
}


.web-content_heading {
    font-size: 2rem;
    color: #333;
    padding: 12px 28px;
    text-transform: uppercase;
}

.book-item {
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.book-item_img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: center;
}

.book-item_name {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    line-height: 1.9rem;
    margin: 5px;
    height: 3.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
}

.book-item_author {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-item_author-tittle {
    font-size: 1.3rem;
    color: #666;
}

.book-item_author_name {
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
}

.book-item_action {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0;
    align-items: baseline;
}

.book-item_action_like {
    padding-left: 5px;
    font-size: 1.8rem;
    padding-bottom: 8px;
    display: flex;
    z-index: 2;
}

.book-item_action_like i {
    cursor: pointer;
    font-size: 1.8rem;
    color: #444;
    padding: 2px;
    float: right;
    transition: all 0.2s ease;
}

.book-item_action_like.liked i {
    color: #f38ba0;
    animation: liked 0.5s ease;
}

@keyframes liked {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.book-item_action_like:hover {
    transform: translateY(-3px);
} 

/*  */

.book-item_action_rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.book-item_action_rating input {
    display: none;
}

.book-item_action_rating label {
    font-size: 1.8rem;
    color: #444;
    padding: 2px;
    float: right;
    transition: all 0.2s ease;
}

.book-item_action_rating input:not(:checked) ~ label:hover,
.book-item_action_rating input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.book-item_action_rating input:checked ~ label {
    color: #fd4;
}

.book-item_action_rating input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 5px rgb(255, 253, 107);
}

.book-item_seen {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.book-item_seen-icon {
    font-size: 1.4rem;
    margin: 0 2px 0 5px;
}

.book-item_seen::after {
    content: "";
    position: absolute;
    border-top: 3px solid #00587A;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
}

.book-item:hover {
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    transform: translateY(-3px);
}

.book-item:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.book-item:hover:before {
    opacity: 1;
}

.book-item:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 5px;
}


/* Phần nhạc bạn nên nghe */
.music-item_action_rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #444;
    padding: 2px;
    float: right;
}

.music-item_action_rating--gold {
    color: #fd4;
}

/* Phần footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 32px;
}

.footer_heading {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer_menber-item {
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0;
    text-align: center;
    border-right: 1px solid #737373;
}

.footer_menber-item-link {
    text-decoration: none;
    color: #737373;
    font-size: 1.6rem;
    font-weight: 500;
}

.footer_menber-item:last-child {
    border: none;
}

.footer_text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
    padding: 4px 0;
}

/* modal đăng nhập */

.modal-login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-login.open {
    display: flex;
}

.modal-login_container {
    background: #fff;
    width: 500px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn 1s;
    border-radius: 5px;
    overflow: hidden;
}

.modal-login_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-login_close-icon {
    font-size: 3rem;
}

.modal-login_header {
    background: var(--primary-color);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}



/*  */

.form {
    min-height: 100px;
    padding: 24px;
    text-align: center;
    background: #fff;
    align-self: center;
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.8rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    margin-top: 12px;
    padding: 16px 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 5px;
}

.form-submit:hover {
    background-color: #f05454;
}

/*  modal đăng ký  */

.modal-register {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-register.open {
    display: flex;
}

.modal-register_container {
    background: #fff;
    width: 500px;
    min-height: 300px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn 1s;
    border-radius: 5px;
    overflow: hidden;
}

.modal-register_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.modal-register_close-icon {
    font-size: 1.8rem;
}

.modal-register_header {
    background: var(--primary-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    color: #fff;
}

.modal-register_body .form {
    padding: 12px;
}

.modal-register_body .form-label {
    padding-bottom: 4px;
    line-height: 1.4rem;
    font-size: 1.4rem;
}

.modal-register_body .form-control {
    height: 35px;
    padding: 4px 6px;
    font-size: 1.4rem;
}

.modal-register_body .form-message {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.modal-register_body .form-group {
    margin-bottom: 10px;
}

.modal-register_body .form-submit {
    margin-top: 6px;
    padding: 10px;
    font-size: 1.8rem;
}

/* modal user */

.modal_user{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.modal_user.open_user{
    display: flex;
}

.modal_user-container{
    background-color: white;
    width: 800px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 16px);
    animation: modalFadeIn 1s;
    
}

.modal_user-header{
    background-color: var(--primary-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-size:x-large;
    font-weight: 500;
}

.modal_user-heading-icon{
    padding-right: 14px;
}

.modal_user-close{
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    background-color: rgb(247, 64, 64);
    border: none;
}

.modal_user-close:hover{
    opacity: 1;
    background-color: red;
    color:black;
}

.modal_user-body{
    padding: 0px 8px;
}

.modal_user-body-selection{
    width: 30%;
    height: 500px;
    background-color: #00587A;
    
}

.modal_user-avt{
    justify-content: center;
    text-align: center;
}

.modal_user-img{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.modal_user-name{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    color: white;
}

.modal_user-avt-btn{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

.modal_user-avt-btn:hover{
    opacity: 0.7;

}

.modal_user-li{
    height: 300px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.modal_user-select{
    width: 85%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.modal_user-select:hover{
    opacity: 0.7;
}

.modal_user-select:focus{
    background-color: #F05454 ;
}

.modal_user-body-info{
    width: 70%;
    background-color: white;
    height: 500px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.modal_info-input{
    height: 90%;
    font-size: 18px;
    font-weight: 500;
}

.modal_info-input>li{
    margin-top: 20px;
    list-style-type: none;
    margin-left: 20px;
}

.info-input{
    height: 40px;
    width: 70%;
    margin-top: 5px;
    padding-left: 10px;
    background-color: var(--primary-color);
    border-style: none;
    color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
}

.info-input::placeholder {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.info-input-radio{
    margin: 10px;
    width: 70%;
    font-size: 16px;
}

.info-input-radio>input{
    margin-left: 10px;
}

.modal_info-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10%;
}

.modal_info-button>button{
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.modal_info-button>button:hover{
    background-color: #f05454;
}

.modal_user-body-book{
    width: 70%;
    background-color:white;
    height: 500px;
    display: none;
    padding: 20px;
    flex-direction: column;
}

.modal_fav-book{
    height: 90%;
    font-size: 18px;
    font-weight: 500;
}

.modal_fav-book-img{
    height: 180px;
    width: 118px;
    margin: 4px;
    cursor: pointer;
}

.modal_fav-book-img:hover{
    opacity: 0.8;
}

.modal_fav-book-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10%;
}

.modal_fav-book-button>button{
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.modal_fav-book-button>button:hover{
    background-color: #F05454;
}



.modal_user-body-song{
    width: 70%;
    background-color:white;
    height: 500px;
    display: none;
    padding: 20px;
    flex-direction: column;
}

.modal_fav-song{
    height: 90%;
    font-size: 18px;
    font-weight: 500;
}

.modal_fav-song>li{
    list-style-type: none;
}

.modal_fav-song-li{
    height: 60px;
    width: 90%;
    background-color: var(--primary-color);
    margin: 10px auto;
    border-radius: 10px;
}

.fav-song-img{
    width: 10%;
    height: 50px;
    margin: auto 20px;
    border-radius: 50%;
}

.fav-song-info{
    width: 69%;
    font-size: 15px;
    line-height: 15px;
    color: white;
}

.fav-song-info>p{
    margin: 10px auto 10px 10px;
}

.fav-song-icon-play{
    height: 20px;
    float: left;
    margin: auto 10px;
    cursor: pointer;
}


.modal_fav-song-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 10%;
}

.modal_fav-song-button>button{
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}

.modal_fav-song-button>button:hover{
    background-color: #F05454;
}




.close-modal-info{
    display: none !important;
}

.open-modal-info{
    display: flex !important;
}

/* Animation cho modal */
@keyframes modalFadein {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}









/* Khung lọc thông tin */

.category {
    background-color: var(--primary-color);
    margin: 10px 10px 0 0;
    padding: 4px;
    border-radius: 5px;
}

.category_book-type {
    font-size: 1.8rem;
    color: #FEA82F;
    font-weight: 600;
    padding: 10px;
    line-height: 3rem;
}

.category_book-type-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.category_book-type-list-item {
    padding: 4px 6px;

}


.category_book-type-list-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    padding: 1px 4px;
}

.category_book-type-list-item-link:hover {
    background-color: #FBC7F7;
    color: #D62AD0;
    border-radius: 10px;

}



.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-login {
    background: #ffffff9e;
    width: 500px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn 1s;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo-img {
    width: 80px;
    height: 80px;
    margin: 10px
}

.form-login label {
    font-size: 1.6rem;
    margin-right: 10px;
    font-weight: 800;
    line-height: 2.6rem;
}

.form-login input {
    outline: none;
    padding: 4px;
    margin: 4px;
    font-size: 1.4rem;
    border: none;
    border-bottom: 1px solid;
}

.login-btn {
    font-size: 1.6rem!important;
    background-color: #1687A7;
    color: #fff;
    font-weight: 500;
    margin: 10px!important;
    border: none!important;
}

.login-btn:hover {
    opacity: 0.7;
}



/* Introduce sách */
.intro-book-container{
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;
}

.introduce-book{
    min-width: 100px;
    height: 370px;
    background-color: #8bc6d8;
    border-radius: 25px;
}

.intro-book-img{
    width: 25%;
    height: 250px;
}

.intro-book-img>img{
    width: 60%;
    height: 80%;
    margin: 40px 35px;
}

.intro-book-decription{
    padding: 10px 25px 10px 0px;
    width: 75%;
    line-height: 20px;
}

.intro-book-decription>p{
    font-size: 16px;
    margin-top: 10px;
}

.introduce-button{
    min-width: 100px;
    margin-left: 20px;
}

.introduce-button button{
    padding: 5px 15px;
    height: 45px;
    margin: 20px 15px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.introduce-comment{
    min-width: 100px;
    height: fit-content;
    background-color: #8bc6d8;
    border-radius: 25px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.comment-header{
    padding: 15px 0px 2px 15px;
    margin: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: black solid 1px;
    color: black;
    width: 200px;
}

.comment-body{

}

.comment-user{
    margin: 10px 20px;
    height: fit-content;
    background-color: #ffffff;
    width: 70%;
    border-radius: 10px;

}

.comment-user h1{
    margin: 5px 0;
    padding-top: 5px;
    padding-left: 10px;
}

.comment-user p{
    padding-left: 10px;
    font-size: 16px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/* Trang đọc sách */
.read-book-container{
    width: 66%;
    margin: 0 auto;
    padding: 30px 0;

}

.read-book-header{
    flex-direction: column;
    height: 100px;
    display: flex;
    right: 0;
    position: fixed;

}

.read-book-header button{
    padding: 5px 15px;
    height: 45px;
    margin: 20px 15px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}


.read-book-body{
    height: 100%;
    width: 100%;
    background-color: #4bacc7;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-page i {
    padding-right: 10px;
}

.next-page i {
    padding-left: 10px;
}

.select-page {
    cursor: default !important;
}


































.btn-music {
    min-width: 40px;
    height: 30px;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.player .img-music {
    position: relative;
    top: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
    margin: auto;
}

.player {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  background-position: center;
  background-size: cover;
  position: fixed;
  bottom: 23px;
  left: 21px;
  height: 304px;
  width: 270px;
  z-index: 200;
}

.player.playing .icon-pause {
  display: block;
}

.player.playing .icon-play {
  display: none;
}

.player .name-music {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  display: block;
  z-index: 1;
}

.player .name-music h3 {
    font-size: 1.4rem;
    margin: 0;
    color: #f15171;
    padding-bottom: 4px;
}

.player .name-music h2 {
    font-size: 1.8rem;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.name-music h2.playing {
  font-size: 1.8rem;
  margin: 0;
  transform: translate(310px);
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  white-space: nowrap;
  width: fit-content;
}

@keyframes slide {
  to {
    transform: translate(-100%);
  }
}

.player .control {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-repeat {
    opacity: 0.6;
}

.btn-prev {
    opacity: 0.6;
}

.btn-toggle-play {
    font-size: 2.4rem;
    padding: 20px 10px;
    background-color: #f15171;
    border-radius: 50%;
}

.icon-pause {
    display: none;
    color: #fff;
}

.icon-play {
    display: block;
    color: #fff;
}


.btn-next {
    opacity: 0.6;
}

.btn-random {
    opacity: 0.6;
}

.player .progress {
    padding: 0 10px;
}

.btn-music.active {
  color: #f15171;
}

.actice {
  color: #f15171;
}

.play-list {
    display: none;
    padding-top: 1px;
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    min-height: 750px;
    margin-top: 309px;
}

.option {
  font-size: 2rem;
  position: absolute;
  right: 0;
  opacity: 0.5;
  top: 15px;
  right: 12px;
}




/* Custome input range */

  input[type=range] {
    height: 18px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #F5F5F5;
    background: #F5F5F5;
    border-radius: 10px;
    border: 0px solid #F5F5F5;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 3px #000000;
    border: 0px solid #000000;
    height: 10px;
    width: 19px;
    border-radius: 15px;
    background: #F15171;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F5F5F5;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #F5F5F5;
    background: #F5F5F5;
    border-radius: 10px;
    border: 0px solid #F5F5F5;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 3px #000000;
    border: 0px solid #000000;
    height: 10px;
    width: 19px;
    border-radius: 15px;
    background: #F15171;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #F5F5F5;
    border: 0px solid #F5F5F5;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #F5F5F5;
  }
  input[type=range]::-ms-fill-upper {
    background: #F5F5F5;
    border: 0px solid #F5F5F5;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #F5F5F5;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 3px #000000;
    border: 0px solid #000000;
    height: 10px;
    width: 19px;
    border-radius: 15px;
    background: #F15171;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #F5F5F5;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #F5F5F5;
  }

  /* Hiển thị bảng menu của option */

  .nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
    animation: fadeIn linear 0.4s;
}

.nav__mobile-close {
    font-size: 2.6rem;
    color: #666;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all linear 0.3s;
}

.nav__mobile-list {
  margin-top: 64px;
  list-style: none;
  padding: 0;
}

.nav__mobile-item {
  color: #666;
  display: block;
  padding: 16px 32px;
  font-size: 2rem;
  font-weight: 500;
  transition: all linear 0.3s;
}


.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .nav__mobile {
  transform: translateX(0);
  opacity: 1;
}

.mute-Btn-on {
  display: none;
}

.volume-mute-icon {
  padding: 0 10px;
  display: none;
}

.volume-open-icon {
  padding: 0 10px;
  display: inline-block;
}

.info-icon {
  padding: 0 10px;
  display: inline-block;
}

.nav__mobile-item.mute-Btn.muted {
  color: #f15171;
}

.nav__mobile-item.mute-Btn.muted  .volume-mute-icon {
  display: inline-block;
}

.nav__mobile-item.mute-Btn.muted  .volume-open-icon {
  display: none;
}

.nav__mobile-item.mute-Btn.muted  .mute-Btn-off {
  display: none;
}

.nav__mobile-item.mute-Btn.muted  .mute-Btn-on {
  display: inline-block;
}

#volume {
  padding: 5px 20px 0 5px;
}























.col.l-5 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.col.l-5 a {
    color: #2c3e50;
    text-decoration: none;
}


.col.l-4 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.col.l-4 a {
    color: #2c3e50;
    text-decoration: none;
}

.btn-page.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #2c3e50;
    margin: 100px 0 0 20px;
    font-size: 2em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}

.btn-page.btn:hover {
    border-color: #16a085;
    color: #16a085;
}

a.btn-page.btn::after {
    background-color: #fff
}

.book {
    position: relative;
    width: 160px;
    height: 220px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

  /*
      2. background & color
  */

  /* HARDCOVER FRONT */
.hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

  /* reverse */
.hardcover_front li:last-child {
    background: #fffbec;
}

  /* HARDCOVER BACK */
.hardcover_back li:first-child {
    background: #fffbec;
}

  /* reverse */
.hardcover_back li:last-child {
    background: #fffbec;
}

  .book_spine li:first-child {
    background: #eee;
}
  .book_spine li:last-child {
    background: #333;
}

  /* thickness of cover */

  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before,
  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before,
  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before,
  .hardcover_back li:last-child:after,
  .hardcover_back li:last-child:before,
  .book_spine li:first-child:after,
  .book_spine li:first-child:before,
  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    background: #999;
}

  /* page */

  .page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
      inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
}

  /*
      3. opening cover, back cover and pages
  */

  .hardcover_front {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
}

.hardcover_back {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.page li:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.page li:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
}

.page li:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
}

.page li:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
}

  /*
      4. position, transform & transition
  */

.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li,
.book_spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.hardcover_front {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}

  /* HARDCOVER front */
.hardcover_front li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_front li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}

  /* HARDCOVER back */
.hardcover_back li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_back li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

  /* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}

  /* HARDCOVER front */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_front li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_front li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px)
      translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px)
      translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px)
      translateY(-78px);
}
.hardcover_front li:last-child:before {
    box-shadow: 0px 0px 30px 5px #333;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
      translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
      translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px)
      translateY(-78px);
}

  /* thickness of cover */

.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_back li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_back li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px)
      translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px)
      translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px)
      translateY(-78px);
}

.hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
      translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px)
      translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px)
      translateY(-78px);
}

  /* BOOK SPINE */
.book_spine {
    -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}

.book_spine li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.book_spine li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

  /* thickness of book spine */
.book_spine li:first-child:after,
.book_spine li:first-child:before {
    width: 4px;
    height: 100%;
}

.book_spine li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book_spine li:first-child:before {
    -webkit-transform: rotateY(-90deg) translateZ(-12px);
    -moz-transform: rotateY(-90deg) translateZ(-12px);
    transform: rotateY(-90deg) translateZ(-12px);
}

.book_spine li:last-child:after,
.book_spine li:last-child:before {
    width: 4px;
    height: 16px;
}

.book_spine li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px)
      translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px)
      translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px)
      translateY(-6px);
}

.book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px)
      translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px)
      translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px)
      translateY(-6px);
}

.page,
.page > li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
}

.page > li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}

.page > li:nth-child(1) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page > li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.page > li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

  /*
      5. events
  */

.book:hover > .hardcover_front {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
}

.book:hover > .page li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

figcaption {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 160px;
    width: 200px;
    -webkit-backface-visibility: hidden;
}

figcaption h1 {
    font-size: 2rem;
    margin: 0;
}

figcaption span {
    color: #16a085;
    padding: 4px 0 4px 0;
    display: block;
    font-size: 1.8rem;
}

figcaption p {
    color: #63707d;
    line-height: 1.3;
}

  /* Media Queries */
@media screen and (max-width: 37.8125em) {
    .align > li {
      width: 100%;
      min-height: 440px;
      height: auto;
      padding: 0;
      margin: 0 0 30px 0;
    }

    .book {
      margin: 0 auto;
    }

    figcaption {
      text-align: center;
      width: 320px;
      top: 250px;
      padding-left: 0;
      left: -80px;
      font-size: 90%;
    }
}

ul.align li {
    margin: 10px 0 44px 0;
}

.book-actions {
    display: flex;
    align-items: center;
}

.book-actions__rate {
    display: flex;
    position: relative;
    bottom: 2px;
    padding-left: 20px;
    font-size: 1.8rem;
}

.book-view {
    font-size: 1.6rem;
    font-weight: 500;
}






.header_bars_mobile {
    font-size: 2.8rem;
    color: #fff;
    display: none;
    align-items: center;
    padding-right: 30px;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
    animation: FadeIn linear 0.4s;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
}

.nav__mobile-close {
    font-size: 2.6rem;
    color: #666;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
}

.nav__mobile-list {
    margin-top: 64px;
    list-style: none;
    padding: 0;
}

.nav__mobile-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 32px;
    font-size: 2rem;
    font-weight: 500;
    transition: all linear 0.3s;
}

.nav__mobile-link button {
    width: 200px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
}


.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}


.header_search_mobile {
    display: none;
    align-items: center;
    padding-right: 30px;
}

.header__search {
    display: none;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

#main {
    overflow: hidden;
}

ul.errorlist {
    display: none;
}

textarea {
    width: 100%;
}

.introduce-comment form p label {
    display: none;
}

.btn-comment {
    padding: 5px 15px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}

textarea#id_body {
    font-size: 1.5rem !important;
    height: 110px;
}


.music-nav__input:checked ~ .music-nav__mobile {
  transform: translateX(0);
  opacity: 1;
}

.music-nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
}

.music-nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
    animation: FadeIn linear 0.4s;
}


.music-nav__mobile-close {
    font-size: 2.6rem;
    color: #666;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
}

.music-nav__mobile-list {
    margin-top: 64px;
    list-style: none;
    padding: 0;
    font-size:1.8rem;
}

.music-nav__mobile-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 16px 32px;
    font-size: 2rem;
    font-weight: 500;
    transition: all linear 0.3s;
}

.music-nav__input:checked ~ .music-nav__overlay {
    display: block;
}

.category_book-type-list-item-link button {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border: none;
}
}