{% load static %}
<div id="header">
    <div class="navbar">
        <div class="header_logo">
            <a href="/" class="header_logo-link">
                <img src="{% static '/assets/img/logo.png' %}" alt="Logo" class="header_logo-img">
            </a>
        </div>
        <form action="{% url 'search' %}" method="post" style="display: flex; margin: 0 20px; flex: 1;">
            {% csrf_token %}
        <div class="header_search">

            <div class="header_search-input-wrap">
                <input type="search" name="search" class="header_search-input" placeholder="Bạn muốn tìm kiếm điều gì?">
                <div class="header_search-history">
                    <h3 class="header_search-history-heading">Lịch sử tìm kiếm</h3>
                    <ul class="header_search-history-list">
                        <li class="header_search-history-item">
                            <a href="">Mắt biếc</a>
                        </li>
                        <li class="header_search-history-item">
                            <a href="">Xích linh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header_search-history">

            </div>

            <button class="header_search-btn">
                        <i class="fas fa-search header_search-btn-icon"></i>
                    </button>

        </div>
</form>

            <div class="header_navbar">
                <ul class="header_navbar-list">
                    <li class="header_navbar-item header_navbar-item-book">
                        <a href="http://127.0.0.1:8000/book/" class="header_navbar-item-link">
                                    Đọc sách
                                </a>
                        <div class="header_book">
                            <ul class="header_book-list">
                                <form action="{% url 'search1' %}" method="post" style="display: flex; margin: 0 20px; flex: 1;">
                                    {% csrf_token %}
                                    <li class="header_book-list-item">
                                        <a href="" class="header_book-list-item-link"><button name="search1">Sách Việt Nam</button></a>
                                    </li>
                                </form>
                                <form action="{% url 'search2' %}" method="post" style="display: flex; margin: 0 20px; flex: 1;">
                                    {% csrf_token %}
                                    <li class="header_book-list-item">
                                        <a href="" class="header_book-list-item-link"><button name="search2">Sách nước ngoài</button></a>
                                    </li>
                                </form>
                            </ul>
                        </div>

                    </li>
                    <li class="header_navbar-item header_navbar-item-music">
                        <a href="http://127.0.0.1:8000/music/" class="header_navbar-item-link">
                                    Nghe nhạc
                                </a>

                        <div class="header_music">
                            <ul class="header_music-list">
                                 <form action="{% url 'search3' %}" method="post" style="display: flex; margin: 0 20px; flex: 1;">
                                     {% csrf_token %}
                                <li class="header_music-list-item">
                                    <a href="" class="header_music-list-item-link"><button>Nhạc Việt Nam</button></a>
                                </li>
                                </form>
                                <form action="{% url 'search4' %}" method="post" style="display: flex; margin: 0 20px; flex: 1;">
                                    {% csrf_token %}
                                <li class="header_music-list-item">
                                        <a href="" class="header_music-list-item-link"><button>Nhạc nước ngoài</button></a>
                                </li>
                                </form>
                            </ul>

                        </div>
                    </li>
                </ul>
            </div>

        {% if user.is_authenticated %}
        <div class="header_user">
            <img src="{{ user.account.user_avt.url }}" alt="" class="header_user-img">
            <span class="header_user-name">{{ user.username }}</span>
            <!-- <div class="header_user__">
                        <ul class="header_user-list">
                            <li class="header_user-list-item">
                                <a href="" class="header_user-list-item-link">Trang cá nhân</a>
                            </li>
                            <li class="header_user-list-item">
                                <a href="" class="header_user-list-item-link">Sách yêu thích</a>
                            </li>
                            <li class="header_user-list-item">
                                <a href="" class="header_user-list-item-link">Nhạc yêu thích</a>
                            </li>
                            <li class="header_user-list-item">
                                <a href="" class="header_user-list-item-link">Đăng xuất</a>
                            </li>
                        </ul>
                    </div> -->
        </div>
        </div>
        {% else %}
    <div class="header_btn">
            <a class="header_btn-sign-up btn" href="http://127.0.0.1:8000/login/" class="csw-btn-button" rel="nofollow" >Đăng nhập</a>
            <a class="header_btn-sign-up btn" href="http://127.0.0.1:8000/register/" class="csw-btn-button" rel="nofollow" >Đăng kí</a>



    </div>

        {% endif %}
</div>