{% extends 'base.html' %} {% load static %} {% load social_share %} {% block cssblock %}
<link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/grid.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/base.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> {% endblock %} {% block content %}
<div id="main">
    {% if user.is_authenticated %}
    <div class="space-navbar-content"></div>
    {% else %}
    <div class="space-navbar-content" style="padding: 0;"></div>
    {% endif %} {% block preview %} {% for item in titles %} {% if item.slug == slug %}
    <div class="container" style="background-image: url({% static 'assets/img/background-homepage.png' %})">
        <div class="intro-book-container col">
            <div class="introduce-book row">
                <div class="intro-book-img">
                    <img src="{{ item.book_anhbia.url }}" alt="matbiec">
                </div>
                <div class="intro-book-decription">
                    <h1>{{ item.book_tensach }}</h1>
                    <h2>Tác giả: {{ item.book_tacgia }}</h2>
                    <p style="font-weight: bold;">Giới thiệu chung:</p>
                    <p> {{ item.book_tomtat }}</p>
                </div>
                <div class="introduce-button row">
                    <a href="{% url 'readbook' item.slug item.slug %}"><button><i class="fas fa-book-open"></i> Đọc Ngay</button></a>
                   
                    <form method="post" style="font-size: 1.6rem;margin-left: 10px;">
                        {% csrf_token %} {% if request.user.is_authenticated %}
                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                        {% if fav_check %}                        
                        <button name="like" id="like">Bỏ thích</button>
                        {% else %}
                        <button name="like" id="like">Yêu thích</button>
                        {% endif %}
                        {% else %} {% endif %}
                    </form>
                    <input type="text" style="display: None" id="Copy" value="http://127.0.0.1:8000{% url 'introbook' item.slug %}">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% url 'introbook' item.slug %}"><button><i class="fas fa-share"></i> Chia Sẻ</button>
                    </a>
                    <script>
                        function Hello() {
                            var copyText = document.getElementById("Copy");

                            /* Select the text field */
                            copyText.select();
                            copyText.setSelectionRange(0, 99999); /* For mobile devices */

                            /* Copy the text inside the text field */
                            navigator.clipboard.writeText(copyText.value);

                            /* Alert the copied text */
                            alert("Copied the link to clipboard: " + copyText.value);
                        }
                    </script>
                </div>
            </div>
            <div class="introduce-comment col">
                <div class="comment-header">Nhận Xét Sách ({{comments.count}}):</div>
                <form method="post" class="cmt-post">
                    {% csrf_token %} {{ comment_form.as_p }} {% if request.user.is_authenticated %}
                    <input type="submit" name="comment" value="Nhận xét" class="btn-comment">
                    {% else %}
                    <input type="submit" value="Đăng nhập để bình luận" disabled>
                    {% endif %}
                </form>
                <div class="col">
                        {% if not comments %}
                        <div class="comment-user">
                            <h1>Chưa có bình luận nào!</h1>
                            <a href="#">Thêm bình luận.</a>
                        </div>
                        {% else %} {% for comment in comments %}
                        <div class="comment-body">
                            <div class="comment-user">
                                <div class="comment-user_img-name">
                                    <img src="{{ comment.user.account.user_avt.url }}" alt="" style="width: 50px;height: 50px;border-radius: 50%;margin-right: 15px;">
                                    {{ comment.user }}
                                </div>
                                <h4 style="padding-left:10px;padding-bottom: 10px;">{{ comment.date_added }}</h4>
                                <p>{{ comment.body }}</p>
                            </div>
                            {% if user.id == comment.user.id %}
                                <form method="post" style="font-size: 1.6rem;margin-left: 10px;">
                                    {% csrf_token %} {% if request.user.is_authenticated %}
                                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                                    <button name="delete" id="delete">Xóa</button>
                                    {% else %} {% endif %}
                                </form>
                                {% endif %}
                        </div>
                        {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %} {% endblock %}
</div>

{% endblock %}