{% extends 'base.html' %} {% load static %} {% block cssblock %}
<link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/grid.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/base.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
{% endblock %} {% block content %}
<div id="main">
    {% if user.is_authenticated %}

    <h3 class="space-navbar-content"></h3>

    {% else %}

    <h3 class="space-navbar-content" style="padding: 0;"></h3>

    {% endif %}
    {% block preview %} {% for item in titles %} {% if item.slug == slug %}
    <div class="container">
        <div class="intro-book-container col">
            <div class="introduce-book row">
                <div class="intro-book-img">
                    <img src="{{ item.book_anhbia.url }}" alt="matbiec">
                </div>
                <div class="intro-book-decription">
                    <h1>{{ item.book_tensach }}</h1>
                    <h2>Tác giả: {{ item.book_tacgia }}</h2>
                    <p style="font-weight: bold;">Giới thiệu chung:</p>
                    <p> {{ item.book_tomtat }}</p>
                </div>

                <div class="introduce-button row">
                    <a href="{% url 'readbook' item.slug item.slug %}"><button><i class="fas fa-book-open"></i> Đọc Ngay</button></a>
                    <a href=""><button><i class="fas fa-heart"></i> Yêu Thích</button></a>
                    <input type="text" style="display: None" id="Copy" value="http://127.0.0.1:8000{% url 'introbook' item.slug %}">
                    <a href=""><button onclick="Hello()" ><i class="fas fa-share"></i> Chia Sẻ</button></a>

                    <script>
                      function Hello() {
                      var copyText = document.getElementById("Copy");

                      /* Select the text field */
                      copyText.select();
                      copyText.setSelectionRange(0, 99999); /* For mobile devices */

                       /* Copy the text inside the text field */
                      navigator.clipboard.writeText(copyText.value);

                      /* Alert the copied text */
                      alert("Copied the link to clipboard: " + copyText.value);
                       }
                    </script>
                </div>
            </div>

            <div class="introduce-comment col">
                <div class="comment-header">Nhận Xét Sách ({{comments.count}}):</div>


                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    {% if request.user.is_authenticated %}
                    <input type="submit" value="Nhận xét"> </input>
                    {% else %}
                    <input type="submit" value="Đăng nhập để bình luận" disabled> </input>
                    {% endif %}
                </form>


                <a href="">Viết bình luận</a>


                <div class="comment-body col">

                    {% if not comments %}

                        <div class="comment-user">
                            <h1>Chưa có bình luận nào!</h1>
                            <a href="#">Thêm bình luận.</a>
                        </div>
                    {% else %}
                        {% for comment in comments %}
                            <div class="comment-user">
                                <h1>{{ comment.user }}</h1> <h4 style="padding-left:10px">{{ comment.date_added }}</h4>
                                <p>{{ comment.body }}</p>
                                <a href="#' comment.id"> <button>Xoa</button></a>
                            </div>

                        {% endfor %}
                    {% endif %}









                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %} {% endblock %}

</div>

<div class="modal-login">
    <div class="modal-login_container">
        <div class="modal-login_close">
            <i class="fas fa-times modal-login_close-icon"></i>
        </div>
        <header class="modal-login_header">
            Đăng nhập tài khoản
        </header>
        <div class="modal-login_body">

            <form action="" method="POST" class="form" id="form-2">

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                    <span class="form-message"></span>
                </div>

                <button class="form-submit">Đăng nhập</button>
            </form>

        </div>
    </div>
</div>


<div class="modal-register">
    <div class="modal-register_container">
        <div class="modal-register_close">
            <i class="fas fa-times modal-register_close-icon"></i>
        </div>
        <header class="modal-register_header">
            Đăng ký tài khoản
        </header>
        <div class="modal-register_body">

            <form action="" method="POST" class="form" id="form-1">

                <div class="form-group">
                    <label for="fullname" class="form-label">Tên đầy đủ</label>
                    <input id="fullname" name="fullname" type="text" placeholder="VD: Khoa Đặng" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
                    <input id="password_confirmation" name="password_confirmation" placeholder="Nhập lại mật khẩu" type="password" class="form-control">
                    <span class="form-message"></span>
                </div>

                <button class="form-submit">Đăng ký</button>
            </form>

        </div>
    </div>
</div>
{% endblock %} {% block jsblock %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Mong muốn của chúng ta
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
                Validator.isEmail('#email'),
                Validator.minLength('#password', 6),
                Validator.isRequired('#password_confirmation'),
                Validator.isConfirmed('#password_confirmation', function() {
                    return document.querySelector('#form-1 #password').value;
                }, 'Mật khẩu nhập lại không chính xác')
            ],
            onSubmit: function(data) {
                // Call API
                console.log(data);
            }
        });


        Validator({
            form: '#form-2',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isEmail('#email'),
                Validator.minLength('#password', 6),
            ],
            onSubmit: function(data) {
                // Call API
                console.log(data);
            }
        });
    });
</script>

<script>
    // Hiệu ứng thả tym yêu thích
    const likedBtn = document.querySelectorAll(".book-item_action_like");
    var elements = Array.from(likedBtn)

    elements.forEach(function liked(e) {
        e.addEventListener('click', () => {
            if (e.classList.contains("liked")) {
                e.classList.remove("liked");
            } else {
                e.classList.add("liked");
            }
        });
    })
</script>

<!-- JS Đăng nhập, đăng ký -->
<script src="./validator.js">
</script>
<!--  -->

<script>
    const modalLogin = document.querySelector(".modal-login")
    const modalLoginClose = document.querySelector(".modal-login_close")
    const modalLoginContainer = document.querySelector(".modal-login_container")
    const loginBtn = document.querySelector(".header_btn-sign-in")

    function showModalLogin() {
        modalLogin.classList.add("open")
    }

    function hideModalLogin() {
        modalLogin.classList.remove("open")
    }

    loginBtn.addEventListener('click', showModalLogin)
    loginBtn.addEventListener('click', hideModalregister)
    modalLoginClose.addEventListener('click', hideModalLogin)
    modalLogin.addEventListener('click', hideModalLogin)
    modalLoginContainer.addEventListener('click', function(e) {
        e.stopPropagation()
    })



    const modalregister = document.querySelector(".modal-register")
    const modalregisterClose = document.querySelector(".modal-register_close")
    const modalregisterContainer = document.querySelector(".modal-register_container")
    const registerBtn = document.querySelector(".header_btn-sign-up")

    function showModalregister() {
        modalregister.classList.add("open")
    }

    function hideModalregister() {
        modalregister.classList.remove("open")
    }

    registerBtn.addEventListener('click', showModalregister)
    registerBtn.addEventListener('click', hideModalLogin)
    modalregisterClose.addEventListener('click', hideModalregister)
    modalregister.addEventListener('click', hideModalregister)
    modalregisterContainer.addEventListener('click', function(e) {
        e.stopPropagation()
    })
</script>


<!-- Modal user -->
<div class="modal_user js-modal_user">
    <div class="modal_user-container js-modal_user-container">

        <button class="modal_user-close js-modal_user-close">
                    <i class="fas fa-times modal-user_close-icon"></i>
                </button>

        <header class="modal_user-header">
            <i class="modal_user-heading-icon ti-briefcase"></i> Góc người dùng
        </header>

        <div class="modal_user-body row">
            <div class="modal_user-body-selection column">
                <div class="modal_user-avt">
                    <img src="./asset/img/slide1.jpg" alt="" class="modal_user-img">
                    <p class="modal_user-name">User name</p>
                    <button class="modal_user-avt-btn ">Đổi ảnh</button>
                </div>
                <ul class="modal_user-li">
                    <li><button class="modal_user-select js_select-info">Thông tin cá nhân</button></li>
                    <li><button class="modal_user-select js_select-fav-book">Sách yêu thích</button></li>
                    <li><button class="modal_user-select js_select-fav-song">Nhạc yêu thích</button></li>
                    <li><button class="modal_user-select">Đăng xuất</button></li>
                </ul>
            </div>
            <div class="modal_user-body-info  js-modal_user-body-info">
                <ul class="modal_info-input ">
                    <li>
                        <p>Họ tên</p>
                        <input type="text" class="info-input" placeholder="Đặng Ngọc Khánh Duy">
                    </li>

                    <li>
                        <p>Giới tính</p>
                        <div class="info-input-radio">
                            <input checked="checked" type="radio" name="gender" id="raido-gender1" value="Nam"> Nam
                            <input type="radio" name="gender" id="raido-gender2" value="Nữ"> Nữ
                            <input type="radio" name="gender" id="raido-gender3" value="Khác"> Khác
                        </div>

                    </li>

                    <li>
                        <p>Độ tuổi</p>
                        <input type="number" class="info-input" placeholder="21">
                    </li>

                    <li>
                        <p>Địa chỉ email</p>
                        <input type="email" class="info-input" placeholder="18520656@gm.uit.edu.vn">
                    </li>
                </ul>

                <div class="modal_info-button">
                    <button>Đổi mật khẩu</button>
                    <button>Lưu thông tin</button>
                </div>
            </div>

            <div class="modal_user-body-book js-modal_user-body-book">
                <div class="modal_fav-book">
                    <img src="https://isach.info/images/story/cover/di_qua_hoa_cuc__nguyen_nhat_anh.jpg" alt="" class="modal_fav-book-img">
                    <img src="https://cf.shopee.vn/file/b7f6522b239f46875eb0386737200894" alt="" class="modal_fav-book-img">
                    <img src="https://nhungcuonsachhay.com/wp-content/uploads/2021/05/Thang-quy-nho-Nguyen-Nhat-Anh.jpg" alt="" class="modal_fav-book-img">
                    <img src="https://upload.wikimedia.org/wikipedia/vi/9/92/Mat_Biec.gif" alt="" class="modal_fav-book-img">
                    <img src="https://cungdocsach.vn/wp-content/uploads/2019/10/Harry-potter-v%C3%A0-h%C3%B2n-%C4%91%C3%A1-ph%C3%B9-th%E1%BB%A7y.gif" alt="" class="modal_fav-book-img">
                </div>
                <div class="modal_fav-book-button">
                    <button>Thêm sách</button>
                    <button>Xóa sách</button>
                </div>
            </div>

            <div class="modal_user-body-song js-modal_user-body-song">
                <ul class="modal_fav-song">
                    <li>
                        <div class="modal_fav-song-li row">
                            <img src="./asset/img/music/nhac-piano.png" alt="" class="fav-song-img">
                            <div class="fav-song-info ">
                                <p style="font-weight: bold; font-size: 17px;">Nhạc đàn piano thư giãn</p>
                                <p>Thể loại: Nhạc không lời</p>
                            </div>
                            <i class="fas fa-play fav-song-icon-play"></i>
                        </div>
                    </li>

                    <li>
                        <div class="modal_fav-song-li row">
                            <img src="./asset/img/music/nhac-piano.png" alt="" class="fav-song-img">
                            <div class="fav-song-info ">
                                <p style="font-weight: bold; font-size: 17px;">Nhạc đàn piano thư giãn</p>
                                <p>Thể loại: Nhạc không lời</p>
                            </div>
                            <i class="fas fa-play fav-song-icon-play"></i>
                        </div>
                    </li>

                    <li>
                        <div class="modal_fav-song-li row">
                            <img src="./asset/img/music/nhac-piano.png" alt="" class="fav-song-img">
                            <div class="fav-song-info ">
                                <p style="font-weight: bold; font-size: 17px;">Nhạc đàn piano thư giãn</p>
                                <p>Thể loại: Nhạc không lời</p>
                            </div>
                            <i class="fas fa-play fav-song-icon-play"></i>
                        </div>
                    </li>
                </ul>
                <div class="modal_fav-song-button">
                    <button>Thêm nhạc</button>
                    <button>Xóa nhạc</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    /* <!-- Đóng mở hộp user --> */
    const userBtn = document.querySelector('.header_user')
    const modal = document.querySelector('.js-modal_user')
    const modalClose = document.querySelector('.js-modal_user-close')
    const modalContainer = document.querySelector('.js-modal_user-container')

    //Ham hien thi modal
    function showBuyTickets() {
        modal.classList.add('open_user')
    }

    //Ham an modal
    function hideBuyTickets() {
        modal.classList.remove('open_user')
    }

    userBtn.addEventListener('click', showBuyTickets)
    modalClose.addEventListener('click', hideBuyTickets)

    modal.addEventListener('click', hideBuyTickets)

    modalContainer.addEventListener('click', function(event) {
        event.stopPropagation()
    })
</script>

<script>
    /* Tương tác trong hộp user */
    const selectBook = document.querySelector('.js_select-fav-book')
    const selectInfo = document.querySelector('.js_select-info')
    const selectSong = document.querySelector('.js_select-fav-song')
    const infoUser = document.querySelector('.js-modal_user-body-info')
    const favBook = document.querySelector('.js-modal_user-body-book')
    const favSong = document.querySelector('.js-modal_user-body-song')

    function showBook() {
        favBook.classList.add('open-modal-info')
        infoUser.classList.add('close-modal-info')
        favSong.classList.remove('open-modal-info')
    }

    function showSong() {
        favSong.classList.add('open-modal-info')
        favBook.classList.remove('open-modal-info')
        infoUser.classList.add('close-modal-info')
    }

    function showInfo() {
        favBook.classList.remove('open-modal-info')
        favSong.classList.remove('open-modal-info')
        infoUser.classList.remove('close-modal-info')
    }

    selectInfo.addEventListener('click', showInfo)
    selectSong.addEventListener('click', showSong)
    selectBook.addEventListener('click', showBook)
</script>

{% endblock %}