{% load static %}
{% load crispy_forms_tags %}
<!-- Modal user -->
<div class="modal_user js-modal_user">
    <div class="modal_user-container js-modal_user-container">
        <button class="modal_user-close js-modal_user-close">
                <i class="fas fa-times modal-user_close-icon"></i>
            </button>
        <header class="modal_user-header">
            <i class="modal_user-heading-icon ti-briefcase"></i> Góc người dùng
        </header>
        <div class="modal_user-body row">
            <div class="modal_user-body-selection column">
                <div class="modal_user-avt">
                    <img src="{{ user.account.user_avt.url }}" alt="" class="modal_user-img">
                    <p class="modal_user-name">{{ user.account.hoten }}</p>
                </div>
                <ul class="modal_user-li">
                    <li><button class="modal_user-select js_select-info">Thông tin cá nhân</button></li>
                    <li><button class="modal_user-select js_select-fav-book">Sách yêu thích</button></li>
                    <a href="logout/">
                        <li><button href="logout" class="modal_user-select">Đăng xuất</button></li>
                    </a>
                </ul>
            </div>
            <div class="modal_user-body-info  js-modal_user-body-info" style="background-image: url({% static 'assets/img/background-homepage.png' %})">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul class="modal_info-input ">
                        <li>
                            <p>Họ tên</p>
                            <input type="text" class="info-input" name="hoten" value="{{user.account.hoten}}">
                        </li>
                        <li>
                            <p>Giới tính</p>
                            <div class="info-input-radio">
                                {% if user.account.gioitinh == "M" %}
                                <input type="text" class="info-input" value="Nam">
                                {% elif user.account.gioitinh == "F" %}
                                <input type="text" class="info-input" value="Nữ">
                                {% else %}
                                <input type="text" class="info-input" value="Khác">
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <p>Độ tuổi</p>
                            <input type="number" class="info-input" name="tuoi" value="{{ user.account.tuoi }}">
                        </li>
                        <li>
                            <p>Địa chỉ email</p>
                            <input type="email" class="info-input" name="email" placeholder="{{ user.email }}">
                        </li>
                    </ul>
                    <div class="modal_info-button">
                        <a href="{% url 'updateuser' %}">Cập nhật thông tin</a>
                    </div>
                </form>
            </div>
            <div class="modal_user-body-book js-modal_user-body-book">
                <div class="modal_fav-book" style=" overflow-y: scroll;">
                    {% block favorite %}{% for item in fav %}
                    <div class="modal_favoritebook">
                        <img src="{{ item.book_anhbia.url }}" alt="">
                        <a href="{% url 'introbook' item.slug %}">{{ item.book_tensach }}</a>
                    </div>
                    {% endfor %}  {% endblock %}
                </div>
                <div class="modal_fav-book-button">
                    <a href="{% url 'book' %}">Thêm sách</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* <!-- Đóng mở hộp user --> */
    const userBtn = document.querySelector('.header_user')
    const modal = document.querySelector('.js-modal_user')
    const modalClose = document.querySelector('.js-modal_user-close')
    const modalContainer = document.querySelector('.js-modal_user-container')

    //Ham hien thi modal
    function showBuyTickets() {
        modal.classList.add('open_user')
    }

    //Ham an modal
    function hideBuyTickets() {
        modal.classList.remove('open_user')
    }

    userBtn.addEventListener('click', showBuyTickets)
    modalClose.addEventListener('click', hideBuyTickets)

    modal.addEventListener('click', hideBuyTickets)

    modalContainer.addEventListener('click', function(event) {
        event.stopPropagation()
    })
</script>

<script>
    /* Tương tác trong hộp user */
    const selectBook = document.querySelector('.js_select-fav-book')
    const selectInfo = document.querySelector('.js_select-info')
    const infoUser = document.querySelector('.js-modal_user-body-info')
    const favBook = document.querySelector('.js-modal_user-body-book')

    function showBook() {
        favBook.classList.add('open-modal-info')
        infoUser.classList.add('close-modal-info')
    }

    function showInfo() {
        favBook.classList.remove('open-modal-info')
        infoUser.classList.remove('close-modal-info')
    }

    selectInfo.addEventListener('click', showInfo)
    selectBook.addEventListener('click', showBook)
</script>