{% extends 'base.html' %} {% load static %} {% block cssblock %}
<link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/grid.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/base.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
{% endblock %} {% block content %}
<div id="main">

    {% if user.is_authenticated %}

    <h3 class="space-navbar-content"></h3>

    {% else %}

    <h3 class="space-navbar-content" style="padding: 0;"></h3>

    {% endif %}
    {% if titles %}
    {% for item in titles %}{% if item.slug == slug %}
    <div class="container" style="background-image: url({% static 'assets/img/background-homepage.png' %})"">
        <div class="read-book-container col">
            <div class="read-book-header">
                <button class="prev-page">
                        <i class="fas fa-arrow-circle-left"></i>Trang Trước
                    </button>
                <button class="select-page">
                        <span class="page-info">
                            Trang <span class="page-num"></span> / <span class="page-count"></span>
                        </span>
                    </button>
                <button class="next-page">
                        Trang Sau<i class="fas fa-arrow-circle-right"></i>
                    </button>


            </div>
            <div class="read-book-body">
                <canvas id="pdf-render"></canvas>
            </div>



        </div>


        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <!--read pdf-->
        <script >
            {% if titles %}
            const url = '{{ item.book_noidung.url }}';
            {% endif %}



let pdfDoc = null,
  pageNum = 1,
  pageIsRendering = false,
  pageNumIsPending = null;

const scale = 1.5,
  canvas = document.querySelector('#pdf-render'),
  ctx = canvas.getContext('2d');

// Render the page
const renderPage = num => {
  pageIsRendering = true;

  // Get page
  pdfDoc.getPage(num).then(page => {
    // Set scale
    const viewport = page.getViewport({ scale });
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    const renderCtx = {
      canvasContext: ctx,
      viewport
    };

    page.render(renderCtx).promise.then(() => {
      pageIsRendering = false;

      if (pageNumIsPending !== null) {
        renderPage(pageNumIsPending);
        pageNumIsPending = null;
      }
    });

    // Output current page
    document.querySelector('.page-num').textContent = num;
  });
};

// Check for pages rendering
const queueRenderPage = num => {
  if (pageIsRendering) {
    pageNumIsPending = num;
  } else {
    renderPage(num);
  }
};

// Show Prev Page
const showPrevPage = () => {
  if (pageNum <= 1) {
    return;
  }
  pageNum--;
  queueRenderPage(pageNum);
};

// Show Next Page
const showNextPage = () => {
  if (pageNum >= pdfDoc.numPages) {
    return;
  }
  pageNum++;
  queueRenderPage(pageNum);
};

// Get Document
pdfjsLib
  .getDocument(url)
  .promise.then(pdfDoc_ => {
    pdfDoc = pdfDoc_;

    document.querySelector('.page-count').textContent = pdfDoc.numPages;

    renderPage(pageNum);
  })
  .catch(err => {
    // Display error
    const div = document.createElement('div');
    div.className = 'error';
    div.appendChild(document.createTextNode(err.message));
    document.querySelector('body').insertBefore(div, canvas);
    // Remove top bar
    document.querySelector('#header').style.display = 'none';
  });

// Button Events
document.querySelector('.prev-page').addEventListener('click', showPrevPage);
document.querySelector('.next-page').addEventListener('click', showNextPage);
        </script>


    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

        <div class="player" style="background-image: url({% static '/assets/img/icon-5974828_1280.png' %});">
            <div class="name-music">
                <h3>Bài hát đang phát: </h3>
                <h2>Cùng nghe nhạc nào!</h2>
                <label for="music-mobile-input" class="option music-mobile-input">
                    <i class="fas fa-ellipsis-h"></i>
                </label>
            </div>

            <div class="img-music" style="background-image: url({{ song_anhbia.url }});"></div>

            <div class="control">
                <div class="btn-music btn-repeat">
                    <i class="fas fa-redo"></i>
                </div>
                <button class="btn-music btn-prev">
                    <i class="fas fa-step-backward"></i>
                </button>
                <div class="btn-music btn-toggle-play">
                    <i class="fas fa-pause icon-pause"></i>
                    <i class="fas fa-play icon-play"></i>
                </div>
                <button class="btn-music btn-next">
                    <i class="fas fa-step-forward"></i>
                </button>
                <div class="btn-music btn-random">
                    <i class="fas fa-random"></i>
                </div>
            </div>

            <input id="progress" class="progress" type="range" name="" value="0" step="1" min="0" max="100">
            {% for item in nhac %} {% if nhac %}
            <audio id="audio" src="{{ item.song_file }}"></audio>
            {% endif %} {% endfor %}

        </div>

        <div class="play-list">

        </div>


        <input type="checkbox" hidden name="" class="music-nav__input" id="music-mobile-input">

        <label for="music-mobile-input" class="music-nav__overlay"></label>
        <nav class="music-nav__mobile">
        <label for="music-mobile-input" class="music-nav__mobile-close">
            <i class="fas fa-times"></i>
        </label>
        <ul class="music-nav__mobile-list">
            <li class="music-nav__mobile-item mute-Btn">
                <span class="mute-Btn-off"> Tắt âm thanh </span>
                <span class="mute-Btn-on"> Mở âm thanh </span>
                <i class="fas fa-volume-mute volume-mute-icon"></i>
                <i class="fas fa-volume-up volume-open-icon"></i>
            </li>
            <li class="music-nav__mobile-item">
                Chỉnh âm lượng
                <input id="volume" class="volume" type="range" name="" value="100" step="1" min="0" max="100">
            </li>
            <div class="music-list">

                {% block content_tennhac %} {% for item in nhac %} {% if nhac %}
                <div class="song" data-index={{ item.id }}>
                    <div class="thumb" style="background-image: url({{ item.song_anhbia.url }});"></div>
                    <div class="body">
                        <h3 class="title">{{ item.song_tenbaihat }}</h3>
                        <p class="author">{{ item.song_casi_id}}</p>
                    </div>

                </div>

                {% endif %} {% endfor %} {% endblock %}

            </div>
        </ul>

        </nav>
        <script>

            const $ = document.querySelector.bind(document);
            const $$ = document.querySelectorAll.bind(document);
            const heading = $('.name-music h2')
            const cdThumb = $('.img-music')
            const audio = $('#audio')
            const cd = $('.img-music')
            const playBtn = $('.btn-toggle-play')
            const player = $('.player')
            const progress = $('.progress')
            const nextBtn = $('.btn-next')
            const prevBtn = $('.btn-prev')
            const randomBtn = $('.btn-random')
            const repeatBtn = $('.btn-repeat')
            const playList = $('.play-list')
            const PLAYER_STORAGE_KEY = 'LEVIN_PLAYER'

            const muteBtn = $('.music-nav__mobile-item.mute-Btn')
            const volumeBtn = $('#volume')
            const firstPage = $('.first-background')
            const infoBtn = $('.info-song')
            const musicBtn = $$('.song')



            const app = {
                currentIndex: 0,
                isPlaying: false,
                isRandom: false,
                isRepeat: false,
                isMuted: false,
                isInfo: false,
                config: JSON.parse(localStorage.getItem(PLAYER_STORAGE_KEY)) || {} ,
                setConfig: function(key, value) {
                    this.config[key] = value
                    localStorage.setItem(PLAYER_STORAGE_KEY, JSON.stringify(this.config))
                },
                songs : [
                                    {% block content_nhac %} {% for item in nhac %} {% if nhac %}
                                    {
                                        name: '{{ item.song_tenbaihat }}',
                                        singer: '{{ item.song_casi_id}}',
                                        path: '{{ item.song_file.url}}',
                                        img: '{{ item.song_anhbia.url }}',
                                        id:'{{ item.id }}'
                                    },
                                    {% endif %} {% endfor %} {% endblock %}
                         ],
                 render: function() {
                    const htmls = this.songs.map((song,index) => {
                        return `
                            <div data-index=${song.id} class="song ${index === this.currentIndex ? 'active' : ''} ">
                                <div class="thumb" style="background-image: url(${song.img});">
                                </div>
                                <div class="body">
                                    <h3 class="title">${song.name}</h3>
                                    <p class="author">${song.singer}</p>
                                </div>
                                <label for="music-mobile-input" class="option music-mobile-input">
                                    <i class="fas fa-ellipsis-h"></i>
                                </label>
                            </div>
                        `
                    })
                    $('.play-list').innerHTML = htmls.join('');
                },
                defineProperties: function() {
                    Object.defineProperty(this, 'currentSong', {
                        get: function() {
                            return this.songs[this.currentIndex]
                        }
                    })
                },
                handleEvents: function() {
                    const _this = this
                    const cdWidth = cd.offsetWidth
                    const cdHeight = cd.offsetHeight


                    // Xử lý khi click Play
                    playBtn.onclick = function() {
                        if(_this.isPlaying)
                        {
                            audio.pause()
                        } else {
                            audio.play()
                        }
                    }

                    //Khi bài hát được phát
                    audio.onplay = function() {
                        _this.isPlaying = true
                        player.classList.add('playing')
                        heading.classList.add('playing')
                        cdThumbAnimate.play()
                    }

                    //Khi bài hát dừng lại
                    audio.onpause = function() {
                        _this.isPlaying = false
                        player.classList.remove('playing')
                        heading.classList.remove('playing')
                        cdThumbAnimate.pause()
                    }

                    //Khi tiến độ bài hát thay đổi
                    audio.ontimeupdate = function() {
                        if(audio.duration) {
                            const progressPercent = Math.floor(audio.currentTime / audio.duration *100)
                            progress.value = progressPercent
                        }
                    }

                    //Khi tua bài hát thì xử lý onchang
                    progress.oninput = function(e) {
                        audio.currentTime = e.target.value * audio.duration / 100
                    }

                    //Xử lý khi CD xoay vòng / dừng lại
                    const cdThumbAnimate = cdThumb.animate([
                        {transform: 'rotate(360deg)'}
                    ],{
                        duration: 10000,
                        iterations: Infinity
                    })
                    cdThumbAnimate.pause()

                    //Khi next bài hát
                    nextBtn.onclick = function () {
                        if(_this.isRandom) {
                            _this.randomSong()
                        } else {
                            _this.nextSong()
                        }
                        audio.play()
                        _this.render()
                        _this.scrollToActiveSong()
                    }

                     //Khi prev bài hát
                     prevBtn.onclick = function () {
                        if(_this.isRandom) {
                            _this.randomSong()
                        } else {
                            _this.prevSong()
                        }
                        audio.play()
                        _this.render()
                        _this.scrollToActiveSong()
                    }

                    //Khi random bài hát
                    randomBtn.onclick = function () {
                        _this.isRandom = !_this.isRandom
                        _this.setConfig('isRandom', _this.isRandom)
                        randomBtn.classList.toggle('active', _this.isRandom)
                    }

                    //Khi hết bài thì next/repeat song
                    audio.onended = function() {
                        if(_this.isRepeat){
                            audio.play()
                        } else {
                            nextBtn.click()
                        }
                    }

                    //Xử lý lặp lại 1 bài hát
                    repeatBtn.onclick = function () {
                        _this.isRepeat = !_this.isRepeat
                        _this.setConfig('isRepeat', _this.isRepeat)
                        repeatBtn.classList.toggle('active', _this.isRepeat)
                    }

                    //Lắng nghe hành vi click vào playlist
                    playList.onclick = function(e) {
                        const songNode = e.target.closest('.song:not(.active)')

                        console.log(songNode)
                        if( songNode || e.target.closest('.option')) {

                            //Khi click vào song
                            if(songNode) {
                                _this.currentIndex = Number(songNode.dataset.index)
                                _this.loadCurrentSong()
                                _this.render()
                                audio.play()
                            }

                            //Khi click vào option
                             if(e.target.closest('.option')) {

                             }
                        }
                    }

                    musicBtn.forEach(function musicPlay(e) {
                        e.addEventListener('click', () => {
                            _this.currentIndex = e.dataset.index -2
                            _this.loadCurrentSong()
                            _this.render()
                            audio.play()
                        });
                    })

                    //Xử lý khi nhấn mute / unmute
                    muteBtn.onclick = function() {
                        muteBtn.classList.toggle('muted', _this.isMuted)
                        if (_this.isMuted) {
                            audio.muted = true

                        } else {
                            audio.muted = false
                        }
                        _this.isMuted = !_this.isMuted
                    }



                    // Khi tua âm lương xử lý onchange
                    volumeBtn.oninput = function(e) {
                        audio.volume = e.target.value / 100
                    }

                    firstPage.onclick = function() {
                        firstPage.classList.add('move-out')
                    }

                },
                loadCurrentSong: function() {

                    heading.textContent = this.currentSong.name + ' --- ' +this.currentSong.singer
                    cdThumb.style.backgroundImage = `url(${this.currentSong.img})`
                    audio.src = this.currentSong.path
                },
                loadConfig: function() {
                    this.isRandom = this.config.isRandom
                    this.isRepeat = this.config.isRepeat
                },
                nextSong: function() {
                    this.currentIndex++
                    if(this.currentIndex >= this.songs.length) {
                        this.currentIndex = 0
                    }
                    this.loadCurrentSong()
                },
                prevSong: function() {
                    this.currentIndex--
                    if(this.currentIndex < 0) {
                        this.currentIndex = this.songs.length - 1
                    }
                    this.loadCurrentSong()
                },
                randomSong: function() {
                    let newIndex
                    do {
                        newIndex = Math.floor(Math.random() * this.songs.length)
                    } while (newIndex == this.currentIndex)

                    this.currentIndex = newIndex
                    this.loadCurrentSong()

                },
                scrollToActiveSong: function() {
                    setTimeout(() => {
                        if(this.currentIndex == 0 || this.currentIndex == 1 || this.currentIndex == 2 || this.currentIndex == 3) {
                            $('.song.active').scrollIntoView({
                            behavior: 'smooth',
                            block: 'center' })
                        } else {
                            $('.song.active').scrollIntoView({
                            behavior: 'smooth',
                            block: 'nearest' })
                        }
                    },350)

                },
                start: function() {
                    //Gắn cầu hình từ config vào ứng dụng
                    this.loadConfig()

                    // Định nghĩa các thuộc tính cho Object
                    this.defineProperties()

                    // Lắng nghe / xử lý các sự kiện
                    this. handleEvents()

                    // Tải thông tin bài hát đầu tiên vào UI khi chạy ứng dụng
                    this.loadCurrentSong()

                    // Render playlist
                    this.render()

                    //Hiển thị trạng thái ban đầu của button random & repeat
                    randomBtn.classList.toggle('active', this.isRandom)
                    repeatBtn.classList.toggle('active', this.isRepeat)
                }
            }



            app.start();






        </script>
{% endblock %}
