{% extends 'base.html' %} {% load static %} {% block cssblock %}
<link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/grid.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/base.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<script src="{% static 'main.js"></script>
{% endblock %} {% block content %}
<div id="main">


    <h3 class="space-navbar-content"></h3>
    <div class="container">
        <div class="read-book-container col">
            <div class="read-book-header row">
                <button class="prev-page">
                        <i class="fas fa-arrow-circle-left"></i>Trang Trước
                    </button>
                <button class="select-page">
                        <span class="page-info">
                            Trang <span class="page-num"></span> of <span class="page-count"></span>
                        </span>
                    </button>
                <button class="next-page">
                        Trang Sau<i class="fas fa-arrow-circle-right"></i>
                    </button>

            </div>
            <div class="read-book-body">
                <canvas id="pdf-render"></canvas>
            </div>
        </div>


        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <script src="{% static 'assets/read_pdf.js' %}"></script>

    </div>



<div class="music-player">

    <div class="music-info">
        <h3 id="title-song">Xích Linh</h3>
        <div class="progress-container">
            <div class="progress"></div>
        </div>
    </div>

    <audio src="{% static '/asset/music/XichLinh.mp3' %}" id="audio"></audio>

    <div class="img-container">
        <img src="{% static '/asset/img/music/nhac-xich-linh.jpg' %}" alt="music-cover" id="cover">
    </div>

    <div class="music-player-navigation">
        <button id="prev" class="action-btn">
                    <i class="fas fa-backward"></i>
                </button>
        <button id="play" class="action-btn action-btn-big">
                    <i class="fas fa-play"></i>
                </button>
        <button id="next" class="action-btn">
                    <i class="fas fa-forward"></i>
                </button>
    </div>
</div>
<script src="{% static 'assets/music-player.js' %}">
</script>

</div>
{% endblock %}
